body{
    background:#0b1220;
    color:white;
    font-family:Arial;
    padding:40px;
}

input,select{
    padding:8px;
    margin:5px;
    border-radius:6px;
    border:none;
}

button{
    padding:8px 14px;
    border:none;
    border-radius:6px;
    background:#2e6df6;
    color:white;
    cursor:pointer;
}

button:hover{
    opacity:0.8;
}

.cards{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    margin-top:20px;
}

.card{
    background:#142038;
    padding:15px;
    border-radius:10px;
    width:200px;
}